<% provide(:title, 'Home Page') %>

                  <div class="row">
                      <div class="col-md-12">
                        <div class="box">
                          <div class="box-header">
                            <h3 class="box-title">Regression Results Today</h3>
                          </div><!-- /.box-header -->
                          <div class="box-body no-padding">
                            <table class="table table-striped">
                              <tr>
                                <th style="width: 80px">Suite Name</th>
                                <th style="width: 40px">Branch</th>
                                <th style="width: 40px">Type</th>
                                <th style="width: 60px">Start Time</th>
                                <th style="width: 60px">End Time</th>
                                <th style="width: 40px">Status</th>
                                <th style="width: 20px">Passed</th>
                                <th style="width: 20px">Failed</th>
                              </tr>
                              <%= render @qa_suite_today %>
                            </table>
                          </div><!-- /.box-body -->
                        </div><!-- /.box -->
                      </div><!-- /.col -->
                  </div>

                  <div class="row">
                      <div class="col-md-12">
                        <div class="box">
                          <div class="box-header">
                            <h3 class="box-title">Regression Results Yesterday</h3>
                          </div><!-- /.box-header -->
                          <div class="box-body no-padding">
                            <table class="table table-striped">
                              <tr>
                                <th style="width: 80px">Suite Name</th>
                                <th style="width: 40px">Branch</th>
                                <th style="width: 40px">Type</th>
                                <th style="width: 60px">Start Time</th>
                                <th style="width: 60px">End Time</th>
                                <th style="width: 40px">Status</th>
                                <th style="width: 20px">Passed</th>
                                <th style="width: 20px">Failed</th>
                              </tr>
                              <%= render @qa_suite_yesterday %>
                            </table>
                          </div><!-- /.box-body -->
                        </div><!-- /.box -->
                      </div><!-- /.col -->
                  </div>

                <div class="row">
			            <div class="col-xs-6">
			              <!-- interactive chart -->
			              <div class="box box-primary">
			                <div class="box-header with-border">
			                  <h3 class="box-title">Regression Status Chart</h3>
			                  <div class="box-tools pull-right">
			                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
			                  </div>
			                </div>
			                <div class="box-body chart-responsive">
			                  <div class="chart" id="revenue-chart" style="height: 300px;"></div>
			                </div><!-- /.box-body -->
			              </div><!-- /.box -->			              

			            </div><!-- /.col -->
			            <div class="col-xs-6">
				              <div class="box box-primary">
				                <div class="box-header with-border">
				                  <i class="fa fa-bar-chart-o"></i>
				                  <h3 class="box-title">Load Chart</h3>
				                  <div class="box-tools pull-right">
				                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
				                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
				                  </div>
				                </div>
				                <div class="box-body">
				                  <div id="bar-chart" style="height: 300px;"></div>
				                </div><!-- /.box-body-->
				              </div><!-- /.box -->
			         </div><!-- /.row -->