<aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <!-- search form -->
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                
                <li class="treeview">
                    <a href="#">
                      <i class="fa fa-th"></i>
                      <span>QA Suite</span>
                      <span class="label label-primary pull-right">4</span>
                    </a>
                    <ul class="treeview-menu">
                      <li><a href='/qa_suites'><i class="fa fa-circle-o"></i> ALL</a></li>
                      <li><a href='#'><i class="fa fa-circle-o"></i> Short</a></li>
                      <li><a href='#'><i class="fa fa-circle-o"></i> Medium</a></li>
                      <li><a href='#'><i class="fa fa-circle-o"></i> Customer</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                      <i class="fa fa-laptop"></i>
                      <span>Build Step</span>
                      <span class="label label-primary pull-right">4</span>
                    </a>
                    <ul class="treeview-menu">
                      <li><a href='#'><i class="fa fa-circle-o"></i> ALL</a></li>
                      <li><a href='#'><i class="fa fa-circle-o"></i> Git</a></li>
                      <li><a href='#'><i class="fa fa-circle-o"></i> Build</a></li>
                      <li><a href='#'><i class="fa fa-circle-o"></i> Create Release</a></li>
                    </ul>
                </li>  
          </ul>
        </section>
        <!-- /.sidebar -->
</aside>